{% extends 'base.html' %}
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Vehicle Inventory System</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </head>

     <style>

         body {
            background-color: #7abaff;
        }

    </style>
    <body>

    <div class="row">
        <h2 style="padding-left: 15Px">Vehicle Availability Details</h2>
    </div>
    <div >
        <table class="table table-striped table-bordered table-hover" >
            <thead>
            <tr class="bg-info">
                <th>Vehicle AvailabilityId</th>
                <th>Vehicle Availability Status</th>
                <th>Vehicle Availability Comments</th>
                <th>Vehicle Name</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for vehicleavails in vehicleavails %}
                <tr>
                    <td class="nowrap">{{ vehicleavails.vehicle_availabilityId }}</td>
                    <td class="nowrap">{{ vehicleavails.vehicle_availabilityStatus }}</td>
                    <td class="nowrap">{{ vehicleavails.vehicle_availabilityComments }}</td>
                    <td class="nowrap">{{ vehicleavails.vehicle_name }}</td>

                   <td class="nowrap"><a href="{% url 'vehicleavail_edit' vehicleavails.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td class="nowrap"><a href="{% url 'vehicleavail_delete' vehicleavails.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row" align="center">
            <a href="{% url 'vehicleavail_add' %}" class="row"><span
                    class="btn btn-primary">Add Vehicle Availability</span></a>
        </div>
    </div>
    </body>
    </html>
{% endblock %}